.pn-ftable{background-color:#B4CFCF;margin-top:5px;}
.pn-flabel{background-color:#F9FBFD;text-align:right;padding-right:3px;}
.pn-flabel-h{height:27px;}
.pn-fcontent{background-color:#FFFFFF;padding-left:5px;}
.pn-fbutton{background-color:#FFFFFF;text-align:center;}
.pn-fhelp{color:#747474;padding:3px 0px;}
.pn-frequired{color:red}
.pn-fruler{background:url(../img/admin/ruler.gif) repeat-x 1px 6px;}
.pn-ltable{background-color:#E2EBEF;margin:5px auto 0px auto;}
.pn-lthead{}
.pn-lthead th{height:27px;background-image:url(../img/theme/msg_bg.jpg);}
.pn-ltbody{background-color:#FFFFFF;}
.pn-ltbody tr{height:25px;}
.pn-lhover{background-color:#F2F2F2;}
.pn-lselected{background-color:#d9e8fb;}
.pn-lnoresult{padding:2px;border:#b4cfcf 1px solid;text-align:right;color:red;font-weight:bold;}
.pn-lbopt{margin-top:3px;padding:2px;border:#b4cfcf 1px solid;}
.pn-lopt{text-align:center;}
a.pn-loperator{text-decoration:underline;}
a.pn-loperator:link {color: #2366A8;}
a.pn-loperator:visited {color: #2366A8;}
a.pn-loperator:hover{color: #2366A8;}
a.pn-loperator:active {color: #2366A8;}
.pn-sp{margin:3px auto 0px auto;padding:1px 0px;height:3px;background-image:url(../img/theme/pbg.jpg);}
.pn-sp-left{float:left;padding-left:10px;width:3%}
.pn-sp-right{float:left;text-align:right;width:97%}
.pn-tree{font-size:12px;}
.pn-tree *{word-break:keep-all;white-space:nowrap;}
.pn-tree img{vertical-align:middle;}
.pn-tree-hover{background-color:#F5F5F5;}
.pn-tree-selected{background-color:#DDECEF;}
.pn-tree-checkbox{vertical-align:middle;}