body{margin:0;padding:0;font-size:12px;color:#364f56;background-color:#FFFFFF;}
img{border:0px;}
form{margin:0; padding:0;}
input[type=text],input[type=password],textarea{border-top:1px solid #404040;border-left:1px solid #404040;border-right:1px solid #D4D0C8;border-bottom:1px solid #D4D0C8;}
input[type=text],input[type=password]{height:17px;}
input[type=text]:focus,input[type=password]:focus,textarea:focus{border:1px solid #000000;}
input[type=button],input[type=submit],input[type=reset]{padding:1px;font-size:12px;border:1px solid;border-color:#ddd #666 #666 #ddd;background:#DDD;color:#000;}
a{text-decoration:none;}
a:link{color:#364f56;}
a:visited{color:#333333;}
a:hover{color: #ae0927;}
a:active {color: #0000ff;}
a.channel:link {color:#ffffff;}
a.channel:visited {color:#ffffff;}
a.channel:hover{color:#ffff00;}
a.channel:active {color:#ffffff;}
a.normal{text-decoration:underline;}
.clear{clear:both;}
.body-box{width:99%;margin:0px auto;margin-right:auto;}
.lbody{background:url(../img/admin/lbg.jpg) right repeat-y #F4F7FB;color:#666666;margin-right:6px;}
.lmenu{padding:0px;margin:10px 0px 0px 0px;list-style:none;}
.lmenu a{display:block;padding:7px 0px 7px 30px;; background:url(../img/admin/circle.gif) no-repeat 15px -1px;}
.lmenu-focus{background-color:#DDECEF;}
.lttop{padding:10px 0px 2px 0px;text-align:center;}
.rhead{border:#b4cfcf 1px solid;padding:5px 15px;margin-top:5px;}
.rpos{float:left;padding:3px 0px 3px 20px;background:url(../img/admin/arrow.gif) center left no-repeat;}
.ropt{float:right;}
